@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans&family=Roboto&family=Shadows+Into+Light&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}